*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
}
a{
    text-decoration: none;
    color: black;
}
body{
  background:   #ffffff;
  scroll-behavior: smooth;
 
  
}
.wha{
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 6;

}
p{
    color: #333333;
   
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;

 
    margin-bottom: 0;
    margin-top: 0;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.3) ;
}
header h1{
    color: #1e90ff;
    font-size: 40px;
   
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li{
    margin-left: 15px;
    
}
header nav ul li{
    margin-left: 15px;
   
}
header nav ul li a{
  font-size: 25px;

}

#menu{
    display: none;

}
.monav{
    z-index: 3;
    width: 100%;
    position: absolute;
    background: white;
  
}


.monav .main {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    margin-left: 30px;
    list-style: none;

display: none;




  
}
header i {
    margin: 4px;
    font-size: 23px;
}
.monav ul li{
    margin-bottom: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    border-bottom: 0.3px solid gray;

}
.monav ul li:hover{

padding-left:10px ;
}
.monav ul li a{
    font-size: 20px;
}
#menu.active {
    display: none;
}
#close.active{
display: block;
}
#close{
display: none;
}
.main{
    display: none;
}
.main.active{
    display: flex;
}
@media(max-width: 1200px)
{
    header h1{
        font-size: 20px;
    }
   header nav ul li a{
        font-size: 20px;
    }
}
@media(max-width: 900px)
{
  
   header nav ul li a{
      display: none;
    }
    .logo{
        width: 100px;
    }
    #free{
        display: none;
    }
    #menu{
        display: block;
        z-index: 6;
    
    }
    .monav ul{
        display: flex;
    }
 
}
@media(max-width: 600px){
    header{
        padding: 10px 30px;
    }
}

.landing{
    width: 100%;
   height: 100vh;
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 150px;

margin-top: 50px;
overflow: hidden;
margin-bottom: 50px;
}
.con{
    width: 90%;
    height: 100%;

    display: flex;
justify-content: space-between;
align-items: center;
margin-top: 100px;
padding: 30px;
border-radius: 15px;


}
.landing .con .text {
    width: 50%;
    height: 60%;
 
    display: flex;
    justify-content: start;
    align-items: start;
flex-direction: column;

}
.landing .con .text h1{
    font-size: 35px;
    padding-bottom: 10px;
}.landing .con .text h1 span{
    color: #1e90ff;
}
.landing .con .text h2{
    font-size: 25px;
    padding-bottom: 10px;
    background: #1e90ff;
    border-radius: 10px;
    color: white;
    padding: 3px;
}
.landing .con .text p{
    padding-top: 10px;
    font-size: 17px;
}

.landing .con .vd{
    width: 40%;
    height: 500px;
    
    margin-bottom: 80px;
}

.landing .con .vd .bg-vd{
    width: 100%;
    height: 100%;

    border-radius: 15px;
   
}
.landing .btn{
    background: #1e90ff;
    font-size: 26px;
    padding: 10px 20px;
    margin: 20px;
    font-weight: bold;
    border-radius: 14px;
    color: white;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.3) ;
}
@media(max-width: 1200px){
    .landing .con {
        width: 95%;
    }
    .landing .con .text h1{
        font-size: 30px;
    }
    .landing .con .text h2{
        font-size: 25px;
    }
    .landing .con .text p{
        font-size: 15px;
    }
}

@media(max-width: 945px){
    .landing .con {
        flex-direction: column;
        margin-top: 100px;
    }
    .landing .con{
        margin: 0;
        padding: 0;
        margin-top: 40px;
    }
    .landing .con .text{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .landing .con .text h1{
        font-size: 25px;
    }
    .landing .con .text h2{
        font-size: 22px;
    }
    .landing .con .text p{
        font-size: 15px;
    }
    .landing .con .vd{
        width: 100%;
        

   
    }
    .landing .con .vd .bg-vd{
        width: 100%;
        height: 70%;
     
        border-radius: 15px;
       
    }
}
@media(max-width:  645px){
    .landing .btn{
        font-size: 20px;
    }
    .landing .con .text {
        margin-bottom: 40px;
    }
    .landing .con .text h2{
        font-size: 19px;
    }
}
.head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-bottom: 100px;
    padding-top: 50px;
}

.skills .con {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    flex-wrap: wrap;
}

.skills .con .box{
    width: 25%;
   
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px ;
    border-radius: 15px;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.3) ;
}

.skills .con .box i{
    font-size: 40px;
    margin: 30px;
    margin-bottom: 10px;

}
.skills .con .box .fa-html5{
    color: rgb(158, 6, 6);
}
.skills .con .box .fa-css3{
    color: blue;
}
.skills .con .box .fa-bootstrap{
    color: blue;;
}
.skills .con .box .fa-php{
    color: blue;
}
.skills .con .box .fa-database{
    color: rgb(158, 6, 6);
}
.skills .con .box .fa-laravel{
    color: rgb(158, 6, 6);
}

.skills .con .box h1{
    font-size: 25px;
    padding: 10px;

}

@media(max-width: 945px){
    .skills .con {
        width: 90%;
    }
    .skills .con .box h1{
        font-size: 20px;
        padding: 10px;
    
    }
}
@media(max-width: 700px){
    .skills .con {
        width: 90%;
    }
    .skills .con .box{
        width: 30%;
    
    }
}
@media(max-width: 640px){
    .skills .con {
        width: 100%;
    }
    .skills .con .box{
        width: 40%;
    
    }
}







.project{
    width: 100%;
   

    background: white;

    padding-bottom: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  overflow-x: hidden;

}


.project .con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.project .con .box2 {
    width: 30%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 10px ;

    box-shadow: 2px 2px 7px rgba(0,0,0,0.3) ;
   
position: relative;
transition: .9s ease;
overflow-x: hidden;

}
.project .con .box2 .im{
    width: 100%;
    height: 300px;

  
}
.project .con .box2 .im video{
    width: 100%;
    height: 100%;
    border-top-right-radius: 25px;
    border-top-right-radius: 25px;
padding: 10px;
}
.project .con .text {
    width: 100%;

display: flex;
justify-content: start;
align-items: start;
flex-direction: column;


}
.project .con .text h1{
    margin-right: 14px;
    padding:  10px 0;
    font-size: 14px;
}
.project .con .text p{
    margin-right: 20px;
    padding:  10px 0;
    margin-bottom: 10px;
}
.project .con .text a{
    background: #1e90ff;
    font-size: 15px;
    padding: 10px 20px;
    margin: 20px;
    font-weight: bold;
    border-radius: 14px;
    color: white;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.3) ;


}
@media(max-width: 997px){
    .project .con .box2 {
        width: 45%;

        margin: 5px;
    }
}
@media(max-width: 747px){
    .project{
        padding-top: 0;
    }
    .project .con{
        width: 100%;
    }
    .project .con .box2 {
        width: 90%;

        margin: 5px;
    }
    .project .con .box2 .im {
        height: 40%;
    }
    .project .con .box2 .im video{
        height: 200px;
    }
    .project .con .box2 .text {
        width: 100%;
      
    }
    .project .con .box2 .text h1{
       font-size: 14px;
      
    }
}



footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.3) ;
    overflow: hidden;

}

footer .con {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 140px;
    padding: 0;
    margin: 20px;
 

}

footer .con .box{
    width: 30%;
    height: 100%;
}
footer .con .box ul {
    list-style: none;

}
footer ul  li {
    font-size: 24px;
    padding-bottom: 4px;
}
footer .con .box p{
  padding-bottom: 10px;
}
footer .con .box div{
    display: flex;
  
}
footer .con .box h1{
padding-bottom: 12px;
  
}
footer .con .box div i{
    margin-left: 12px;
}
@media(max-width: 700px){
    footer .con {
        width: 100%;
        flex-direction:column;
        margin: 0;
    }
    footer .con .box{
        width:100%;
        padding: 10px;
        margin-bottom: 20px;
    }
    footer .con .box ul{
        margin-right: 10px;
    }
    footer .con .box ul li a{
        font-size: 20px;
    }
    footer .con .box h1{
        font-size: 25px;
    }
    footer .con .box p{
        padding: 20px;
        font-size: 20px;
    }
}

.time{
    width: 100%;
}
.time .con {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column;
}

.time .con .box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
      overflow-x: hidden;
}
.time .con .box .left{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time .con .box .left .im{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}
.time .con .box .right{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.3) ;
   padding: 40px 15px;
   border-radius: 7px;
}
.time .con .box .right h1,p,span{
    padding-bottom: 20px;
}
.time .con .box .right h1{
    font-size: 23px;
}
.time .con .box .right span{
    width: 100%;
    font-size: 20px;
    color: #1e90ff;
    text-align: center;
}
.time .con .box .right p{
    font-size: 17px;
  
}
.time .con .box .left .im img{width: 70px;}

@media(max-width: 767px){
    .time .con  {
    width: 100%;
    }
    .time .con .box  .left {
        width: 35%;
    }
    .time .con .box  .left .im img{
        width: 60px;
    }
    .time .con .box  .right {
        width: 64%;
    }
    .time .con .box .right h1{
        font-size: 20px;
    }
    .time .con .box .right span{
        width: 100%;
        font-size: 18px;
        color: #1e90ff;
        text-align: center;
    }
    .time .con .box .right p{
        font-size: 15px;
      
    }
}

@media (max-width: 600px){
    .time .con .box  .left .im img{
        width: 40px;
    }
    .time .con .box .right h1{
        font-size: 17px;
    }
    .time .con .box .right span{
        width: 100%;
        font-size: 18px;
        color: #1e90ff;
        text-align: center;
    }
    .time .con .box .right p{
        font-size: 13px;
      
    }
}
